body {
  display: flex;
  justify-content: center;
  gap: 20px; }

canvas {
  background-color: black; }

.info {
  background-color: #80b2be;
  padding: 20px;
  display: none; }
  .info__score, .info__lives {
    color: white;
    margin-top: 40px; }
  .info__message {
    color: red; }
  .info__description {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    animation: space 1s linear infinite;
    display: block; }
    .info__description--none {
      display: none; }

@keyframes space {
  from {
    transform: scale(1);
    color: white; }
  to {
    transform: scale(1.2);
    color: black; } }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  font-size: 50px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: 8px solid white;
  background-color: #00f7ff; }
  .button--start {
    position: absolute;
    z-index: 1;
    transition: 0.5s; }
    .button--start:hover {
      transform: scale(1.2);
      border: none; }
    .button--start--none {
      display: none; }
  .button--restart {
    padding: 10px; }

.restart {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white; }
